.input {
  display: flex;
  width: 90%;
  position: relative;
  align-items: center;
}

.input-box {
  width: 100%;
  border-radius: 50px;
  padding: 20px 30px;
  font-size: 25px;
  border: none;
  transition: 0.2s;
  box-shadow: inset 0 0 5px black;
}

.input-box:focus {
  box-shadow: 0 0 10px 2000px rgba(0, 0, 0, 0.5);
  outline: none;
}

.input-submit {
  position: absolute;
  width: 70px;
  height: 50px;
  margin: 12px;
  border-radius: 50px;
  right: 0px;
  border: none;
  font-size: 15px;
  background-color: #fcb69f;
  color: #ffffff;
  transition: 0.2s all;
  box-shadow: 0 0 7px black;
}
.input-submit:hover {
  transform: scale(0.85);
  box-shadow: 0 0 5px black;
}
