@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap");

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(#ffecd2, #fcb69f);
  font-family: "Lato", sans-serif;
}

.heading {
  font-size: 40px;
  margin: 30px 0;
  color: #000000;
  z-index: 1;
  text-align: center;
}

@media (max-width: 800px) {
  .heading {
    margin: 15px 0;
    font-size: 35px;
  }
}
